body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 22px;   /*MAYBE REIKES PAKEIST FONTA TEXTO*/
  background-color: rgb(0, 0, 0);
  
}

.Header {
  width: 100%;               /* Full width of the screen */
  height: 100px;               /* Set height for visibility */
  background-color: #000000;     /* Background color to make it visible */
  color: rgb(255, 255, 255);               /* Text color for the header */
  font-size: 25px;
  text-align: left; 
  padding-left: 200px;
  display: flex;              /* Flexbox to center content */
  align-items: center;        /* Center content vertically */
  justify-content: flex-start;    /* Center content horizontally */
  position: fixed;            /* Sticks header to the top */
  top: 0;
  /*align-items: left;
  
  /*margin-bottom: 12px;
  /*transition: background-color 0.3s;*/
}
.Header::after {
  content: "";                      /* Empty content to create a block */
  display: block;                   /* Makes the pseudo-element a block */
  width: 90%;                      /* Full width under the header */
  height: 2px;                     /* Height of the "colored margin" */
  background-color:#2c2c2c;      /* Color for the pseudo-element */
  position: absolute;               /* Positioning relative to the header */
  bottom: -5px;                    /* Positions it directly below the header */
  align-items: center;
  
  /*left: 50px;                          /* Aligns it with the left edge */
  /*right: 50px;*/
  /*NEPAEINA PADARYT KAD BUTU PER VIDURI*/
     

}
.buttonL {
  background-color:#7C05CB;
  color: white;
  font-size:Arial, sans-serif;
  /*padding: 10px 20px;*/
  font-size: 16px;
  width: 83px;
  height: 32px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  justify-content: flex-end;
  right: 250px ;
  transition: border-color 0.2s;
  border-color: #ba47bc;
  position: absolute;
  right: 16%;
  /*padding-right: 300px;*/
  /*PAKEIST FONTA*/
}
.buttonL:hover {
  background-color: #9B1DCE; /* New background color when hovered */
  border-color: #9B1DCE; }


.buttonS{
  background-color:#000000;
  color: white;
  font-size:Arial, sans-serif;
  /*padding: 10px 20px;*/
  font-size: 16px;
  width: 83px;
  height: 32px;
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 7px;
  cursor: pointer;
  justify-content: flex-end;
  right: 345px ;
  position: absolute;
  right: 10%;
}
.buttonS:hover {
  background-color: #ddc9e5; /* New background color when hovered */
  border-color: #8a39a1; }

h2{
  font-size: 80px;
  font-style: Arial Black;
  color:rgba(255, 255, 255) ;
  text-align: center;
  position: absolute;
  top: 27%; /* Position it vertically in the middle of the screen */
  transform: translate(-50%, -50%); /* Offset it to truly center it */
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 20px;
  padding-top: 250px;
  position: absolute;
  top: -20%;
}

.login-box {
  width: 270px;
  padding: 10px 30px;
  background-color:rgba(70, 68, 68, 0.495);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content:center;
  display: block;
  padding-top: 40px;
}

.input-box {
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s;
  position: relative;
  left: -3%;
}

.input-box input:focus {
  border-color: #7C05CB;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #7C05CB;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #9B1DCE;
}

#incorrect{
color: #ff8d76;
font-size: 16px;
display:none;
}

.login{
font-style: Arial, Helvetica, sans-serif; 
display: block;
background-color: rgb(122,222,122);
}

#forgot-password{
  color: #ffffff;
  font-style: Arial Black;
  
  font-size: 16px;
  cursor: pointer;
}

#forgot-password:hover{
  color: #9B1DCE;
}

.signup-box{
  width: 270px;
  padding: 15px 30px;
  padding-top: 40px;
  background-color:rgba(70, 68, 68, 0.495);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 9%;
  justify-content:center;
  display: none;
}

.forgotPA-container{
  display: none;
}

.forgotPA-box{
  width: 270px;
  padding: 15px 30px;
  padding-top: 40px;
  background-color:rgba(70, 68, 68, 0.495);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 46%;
  top:49%;
  justify-content:center;
}

.forgotPA-container h4{
  display: block;
  position: fixed;
  top:39%;
  left: 43%;
  margin-bottom: 0;
  font-size: 20px;
  color: #ffffff;
  font-style: Arial Black;
  text-align: center;
  justify-content:center;
}

  /*button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }*/
  